<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PetFosterModel.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=localhost:1521/orcl;TNS_ADMIN=C:\Users\Victor\Oracle\network\admin;PASSWORD=campus;USER ID='&quot;C##PET&quot;'"
            providerName="Oracle.ManagedDataAccess.Client" />
        <add name="PetFosterModel.Properties.Settings.ConnectionString1"
            connectionString="Data Source=orcl;User ID=c##pet;Password=campus;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>